* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Top parent container + all first child elements(all sub container) */
.myCart-container {
  height: 1025px;
  width: 471px;
  font-family: "Montserrat";
  font-style: normal;
}
.myCart-header {
  height: 96px;
  width: 471px;
  background-color: #f9f5ff;
  font-weight: 600;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}
.myCart-items {
  height: 179px;
  width: 471px;
  display: flex;
  align-items: center;
  position: relative;
  padding: 32px;
}
.myCart-couponCode {
  height: 142px;
  width: 471px;
  padding: 16px;
}
.myCart-productAddons {
  height: 340px;
  width: 471px;
  /* border: 2px solid blue; */
  padding: 16px;
}
.myCart-blankSpace {
  height: 131px;
  width: 471px;
  background-color: white;
}
.myCart-couponApplied {
  height: 49px;
  width: 471px;
  background-color: #219653;
  display: flex;
  justify-content: center;
  align-items: center;
}
.proceedCheckout {
  height: 88px;
  width: 471px;
  background-color: #f9f5ff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  padding-left: 24px;
  padding-right: 24px;
}

/* first section(my-cart-header) */
.myCart-header-text {
  line-height: 120%;
}
.myCart-header-close-button-container {
  height: 32px;
  width: 32px;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}
.myCart-header-close-button {
  height: 22px;
  width: 22px;
  transform: rotate(-45deg);
  color: rgba(0, 0, 0, 0.5);
  /* line-height: 120%; */
  /* text-align: center; */
}

/* second section(my-cart-items) */
.myCart-items-photo {
  background: url("images/circleImage7.jpg");
  background-size: cover;
  height: 115px;
  width: 115px;
  border-radius: 8px;
}
.myCart-items-description {
  height: 113px;
  width: 255px;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Montserrat";
  font-style: normal;
  font-size: 14px;
  margin-left: 12px;
}
.myCart-items-description-textRate-container {
  height: 69px;
  width: 255px;
}

.myCart-items-description-text {
  width: 255px;
  height: 42px;

  font-weight: 500;
  line-height: 148%;
  /* or 21px */
  /* display: flex;
  align-items: center; */
  letter-spacing: 0.01em;

  color: rgba(27, 5, 4, 0.75);
}
.myCart-items-description-rate {
  width: 172px;
  height: 23px;
  font-weight: 600;
  line-height: 162%;
  /* identical to box height, or 23px */
  letter-spacing: 0.02em;
  color: #1b0504;
}
.myCart-items-description-incrementDecrement {
  width: 88px;
  height: 24px;
  display: flex;
  gap: 8px;
}
.myCart-items-description-decrement-container {
  width: 24px;
  height: 24px;
  background: #e95850;
  border-radius: 4px;
  padding: 5px;
  padding-left: 8px;
  color: #f2f2f2;
}
.myCart-items-description-quantity-container {
  width: 24px;
  height: 24px;
  background: #fff5f5;
  border-radius: 4px;
  padding: 5px;
  padding-left: 8px;
}
.myCart-items-description-increment-container {
  width: 24px;
  height: 24px;
  background: #e95850;
  border-radius: 4px;
  padding: 5px;
  padding-left: 8px;
  color: #f2f2f2;
}
.myCart-items-close-button-container {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(-100%, 50%);
  height: 24px;
  width: 24px;
  padding: 1px;
  padding-left: 6px;
}
.myCart-items-close-button {
  transform: rotate(-45deg);
  color: rgba(33, 33, 33, 0.64);
  height: 17.5px;
  width: 17.5px;
  font-size: 18px;
  font-weight: 600;
}

/* third section(myCart-couponCode) */
.myCart-couponCode-upper {
  font-weight: 600;
  font-size: 14px;
  line-height: 162%;
  /* identical to box height, or 23px */
  letter-spacing: 0.02em;
  color: #1b0504;
  margin-bottom: 8px;
}
.myCart-couponCode-middle input {
  width: 272px;
  height: 48px;
  background: #ffffff;
  border: 1px solid rgba(27, 5, 4, 0.2);
  border-radius: 43px;
  color: #1b0504;
}
.myCart-couponCode-middle input ::placeholder {
  /* text-align: center; */
  /* margin-left: 1rem; */
  color: rgba(27, 5, 4, 0.42);
}
.myCart-couponCode-middle button {
  width: 151px;
  height: 48px;
  background: #f99c98;
  border-radius: 100px;
  color: white;
  border: none;
}
.myCart-couponCode-lower {
  font-weight: 600;
  font-size: 12px;
  line-height: 162%;
  /* or 19px */
  letter-spacing: 0.02em;
  color: #219653;
  margin-top: 8px;
}

/* fourth section(product-addons) */
.myCart-productAddons h1 {
  font-weight: 600;
  font-size: 14px;
  line-height: 162%;
  letter-spacing: 0.02em;
}
.myCart-productAddons-remaining {
  display: flex;
  gap: 16px;
  /* border: 2px solid blue; */
  height: 265px;
  width: 540px;
}
.myCart-productAddons-product {
  /* border: 2px solid red; */
  width: 172px;
  height: 265px;
}
.myCart-productAddons-imageText-container {
  background: #dec5fd;
  border-radius: 8px;
  width: 172px;
  height: 221px;
  padding: 8px;
}
.myCart-productAddons-image {
  background: url("images/productAddons1.jpg");
  width: 156px;
  height: 149px;
  background-size: cover;
}
.myCart-productAddons-image1 {
  background: url("images/productAddons1.jpg");
  background-size: cover;
}
.myCart-productAddons-image2 {
  background: url("images/productAddons2.jpg");
  background-size: cover;
}
.myCart-productAddons-image3 {
  background: url("images/productAddons3.webp");
  background-size: cover;
}
.myCart-productAddons-button-container {
  padding: 4px;
}
.myCart-productAddons-product button {
  width: 168px;
  height: 32px;
  border: 1.5px solid #e95850;
  border-radius: 100px;
  color: #e95850;
  background-color: #ffffff;
  padding-top: 1px;
  padding: 1px;
  padding-left: 1px;
}

/* fifth section(blank space) */

/* sixth section(coupon applied) */
.myCart-couponApplied-svg {
  height: 21px;
  width: 21px;
}
.myCart-couponApplied-checkBadge {
  stroke: #219653;
  fill: white;
}
.myCart-couponApplied-text {
  color: white;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
}

/* seventh section(proceed to checkout) */
.proceedCheckout-left {
}
.proceedCheckout-right {
  border: none;
  width: 269px;
  height: 56px;
  background-color: #e95850;
  color: white;
  border-radius: 100px;
}
.proceedCheckout-bold {
  font-weight: 600;
  font-size: 18px;
  line-height: 148%;
}
